MONGODB_URI=
MONGODB_DB=
PORT=3000

FTP_HOST=
FTP_USER=
FTP_PASSWORD=
FTP_BASE_URL=

MODETOUR_API_KEY=
MODETOUR_WEBSITE_NO=
MODETOUR_COMPANY_NO=
MODETOUR_DEVICE_TYPE=DVTPC

CRON_SECRET=
CRON_TIMEZONE=Asia/Seoul

PRODUCT_MASTER_SCRAPE_MONTHS=12

EP_OVERRIDE_SHEET_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vRXf9Y4TOh4y-bggqzhmXFUkm43p2-_h088l6oMif5FuDRBK1AeNGmBJcq9pkpsgXQeRhG_37KDdcp2/pub?gid=0&single=true&output=tsv

EP_FILENAME=ire_naver_ep.local.txt
EP_FILENAME_EXCLUDED=ire_naver_ep_excluded.local.txt
EP_MAX_ITEMS=100000
