MONGODB_URI=
MONGODB_DB=
PORT=3000

FTP_HOST=
FTP_USER=
FTP_PASSWORD=
FTP_BASE_URL=

MODETOUR_API_KEY=
MODETOUR_WEBSITE_NO=
MODETOUR_COMPANY_NO=
MODETOUR_DEVICE_TYPE=DVTPC

DAILY_SCRAPE_ENABLED=true
DAILY_SCRAPE_HOUR=23
DAILY_SCRAPE_MINUTE=0
DAILY_SCRAPE_TIMEZONE=Asia/Seoul
