MONGODB_URI=
MONGODB_DB=
PORT=3000

FTP_HOST=
FTP_USER=
FTP_PASSWORD=
FTP_BASE_URL=

MODETOUR_API_KEY=
MODETOUR_WEBSITE_NO=
MODETOUR_COMPANY_NO=
MODETOUR_DEVICE_TYPE=DVTPC
CRON_SECRET=
DAILY_SCRAPE_BATCH_COUNT=5
DAILY_BATCH_TIMEZONE=Asia/Seoul
